@{
    ViewData["Title"] = "Bowler List";
}
@model List<Bowler>


<h2>Bowling League Roster</h2>

<form asp-action="BowlerList" method="get">
    <div class="form-actions no-color">
        <p>
            Filter by Team Name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-outline-primary" /> |
            <a asp-action="BowlerList" >Back to Full List</a>
        </p>
    </div>
</form>

<table class="table table0bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>Team Name</td>
            <td>Bowler Name</td>
            <td>Bowler Address</td>
            <td>Bowler Phone Number</td>


        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.Team.TeamName</td>
                <td> @b.BowlerFirstName, @b.BowlerLastName @b.BowlerMiddleInit </td>
                <td>
                    @b.BowlerAddress
                    @b.BowlerCity, @b.BowlerState, @b.BowlerZip
                </td>
                <td>@b.BowlerPhoneNumber</td>
            

                <td><a asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@b.BowlerID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@b.BowlerID">Delete</a></td>
            </tr>




        }
    </tbody>
</table>